html {
  background-color: cyan;
}
body {
  background-color: white;
  height: 100vh;
  padding: 30px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.title-bar {
  display: flex;
}
.title-bar__column {
  width: 33%;
}
.title-bar__column:first-child {
  justify-content: start;
}

.title-bar__column:last-child {
  display: flex;
  justify-content: center;
  font-size: 25px;
  font-weight: 1000;
}

.play {
  height: 150px;
  display: flex;
  margin: 20px 0px;
  justify-items: flex-start;
}

.play__image {
  width: 150px;
  height: 150px;
  background-color: goldenrod;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.play__text {
  width: 200px;
  height: 150px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  line-height: 350%;
}
.play__text :first-child {
  font-size: 30px;
  font-weight: 1000;
  margin: 0px;
}
.play__text :nth-child(2) {
  font-size: 30px;
  font-weight: 1000;
  margin: 0px;
}
.play__text :last-child {
  font-size: 20px;
  font-weight: 1000;
  margin: 0px;
}
.btn {
  height: 100px;
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn__play {
  width: 200px;
  height: 50px;
  border-radius: 1em;
  border: 2px solid black;
  border-bottom-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__play > i {
  margin-right: 10px;
}
.btn__play > p {
  font-size: 20px;
  font-weight: 1000;
}
.btn__heart {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  border-bottom-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn__plus {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid black;
  border-bottom-width: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  height: 200px;
  margin: 20px 0px;
  justify-items: flex-start;
  padding-inline-start: 0px;
}

.list {
  height: 50px;
  display: flex;
  margin: 20px 0px;
}

.list__text {
  width: 250px;
  height: 50px;
  display: flex;
  flex-direction: column;
  line-height: 100%;
}
.list__text :first-child {
  font-size: 20px;
  font-weight: 1000;
  margin: 0px;
}

.list__image {
  width: 50px;
  height: 50px;
  background-color: tomato;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.list__image_2 {
  width: 50px;
  height: 50px;
  background-color: palevioletred;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.list__image_3 {
  width: 50px;
  height: 50px;
  background-color: blue;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.list__image_4 {
  width: 50px;
  height: 50px;
  background-color: turquoise;
  border-radius: 20%;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
